.vision
	 {
	 position: relative;
	 padding-top: 40px;
	 padding-right: 37px;
	 padding-bottom: 95px;
	 padding-left:26%;
	 }
	 
.eyemenu
	{
	position: absolute;
	padding-left: 150px;
	padding-top: 200px;	
	z-index: 99;
	}
.logo
	{
	padding-top: 19px;
	padding-left: 100px;
	}

@font-face {
font-family: Planck;
src: url("mywebsite/css/fonts/Planck-Regular.ttf") format("opentype") 
}

@font-face {	
font-family: Concrete;
src: url("mywebsite/css/fonts/Concrete-Regular.otf") format("opentype")
} 

#mywork
{
white-space: nowrap;
font-family: Concrete;
font-size: 14pt;
font-weight: normal;
position: relative;
margin-left: 83px;
padding-top: 289px;
}

#myworkpage.html
a:link {
text-decoration: none;
}

ul {
list-style-type: none;
}

#mybio
{
white-space: nowrap;
font-family: Concrete;
font-size: 14pt;
font-weight: normal;
position: absolute;
margin-left: 19px;
margin-top: 10px;
z-index: 100;
}

ul {
list-style-type: none;
}

#myvision
{
white-space: nowrap;
font-family: Concrete;
font-size: 14pt;
font-weight: normal;
position: absolute;
padding-left: 219px;
padding-top: 27px;
color: #5d73dc;
}

ul {
list-style-type: none;
}

#Contact
{
font-family: Concrete;
font-size: 14pt;
font-weight: normal;
padding-left: 83px;
padding-top: 70px;
position: absolute;
}

ul {
list-style-type: none;
}

a, a:visited {
decoration: none;
color: inherit;
text-decoration: none;
}

a:hover {
color: #5d73dc;
}

.menu1
	{
	width: 166px;
	height: 110px;
	background: none;
	position: absolute;
	left: 665px;
	top: 480px;
	}
	
	.menu2
	{
	width: 166px;
	height: 110px;
	background: none;
	position: absolute;
	left: 869px;
	top: 480px;
	}
	
	.menu3
	{
	width: 166px;
	height: 110px;
	background: none;
	position: absolute;
	left: 1073px;
	top: 480px;
	}
	
	.menu4
	{
	width: 166px;
	height: 110px;
	background: none;
	position: absolute;
	left: 1277px;
	top: 480px;
	}